*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
    position: absolute;
    background-color: #f5a2cfd1;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;

}
.logo img{
    width: 8.4em;
    padding: 1em;
    position:absolute;
    z-index: 5;
    border-radius: 18%;
    margin-top: -1.9%;
    margin-left: 2%;
    max-width: 100%;
    
    


}
nav.navar{
   
    background-color: rgba(239, 153, 225, 0.521);
    z-index: 1000;
    position:fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    height: auto;

  
}
ul {
    align-items: center;
    display: flex;
    justify-content: center;
    
     
}
ul li{
    padding: 1em 2em;
    list-style-type: none;

}
ul li a{
    display: flex;
    position: relative;
    text-decoration: none;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
    font-weight: 700;
    padding: 9px 8px;
}
input {
    width: 15vw;
    padding: 4.5%;
    margin-bottom: 20px;
    border:  #ccc;
    border-radius: 1.3em;
    justify-content: center;
    align-items: center;
    max-width: 100;
    
    
}

.buscar{
    margin-left: 13%;
    margin-top: 1%;

}
.carrito{
    font-size: 1.1rem;
    color: #ece9e9;
    width: 8vw;
    height: 6vh;
    background-color: rgb(101, 124, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    margin-left: 88%;
    z-index: 9;
    position: absolute;
   

}
ul li a:hover{
    color: #f1a5ce;
    
}
.carrito:hover{
    background-color:  rgba(239, 153, 225, 0.521);
}
 @media (max-width:700px){
    .navar{
        flex-direction: column;
    }
 }

.publicidad{
    position: absolute;
    width: 54vw;
    padding: 8vh;
    margin-top: 14%;
    z-index: 9;
    background-color:transparent;
}

.acorde{
    display: flex;
    position: absolute;
    color: rgb(19, 121, 246);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.inspira{
    font-size: 2.3rem;
    margin-top: 2%;
    font-weight: 900;
    color: rgb(51, 127, 251);
    font-family: Arial, Helvetica, sans-serif;
}
.lectura{
    font-size: 1.1rem;
    margin: 6%;
    margin-left: -1%;
    line-height: 1.6rem;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
}
.color{
    background-color: #4ce3f7;
}
.principio img{

    width: 40vw;
    height: 65vh;
    margin-top: 14%;
    margin-left: 55%;
    position: absolute;
    border-radius: 11%;
    background-repeat: no-repeat;
    background-size: cover;
    

}
 .descubre{
    border: none;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 2rem;
    background-size: 100% auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0.6em 1.5em;
    margin-left: 31%;
    margin-top: 3%;
    z-index: 9;
    width: 13vw;
    height: 6vh;
   }
   
   .descubre:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

   button a{
    text-decoration: none;
    color: #fff;
   }
   .arti1{
    color: #5653f6;
    
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 12%;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
    margin-top: 54%;
    display: flex;
    position: absolute;
   }
   .destacados{
    position: absolute;
    display: flex;
    margin: 3rem;
    padding: 0.2rem;
    height: auto;
    margin-top: 63%;
    margin-left: 1%;
   }

   .div1,
   .div2
   {

    width: 43vw;
    height: 48vh;
    margin: 0 2.4rem;
    border-radius: 2rem;
    position: relative;
    z-index: 8;
   }
 .div1{
    
    background: url("imagenes/resi2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
 }
 .div2{

    background: url("imagenes/resi3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .precio{
    position: relative;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    margin-top: 88%;

 }
 .div3{
    margin-left: 4.8%;
    line-height: 1.7rem;

 }
 .div4{
    margin-left: 44%;
    line-height: 1.7rem;
 }
 .mai1{
    background-color: #1bcce49f;
    width: 91vw;
    height: 100vh;
    margin-top: 95%;
    position: absolute;
    border-radius: 11%;
    margin-left: 4%;

 }
 .arti2{
    background-color: transparent;
    width: 50vw;
    height: 23vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 9%;
    margin-top: 4%;
   

}

 .arti2 h2{
    font-size:1.6rem;
    color: #7d6df4;
}
.arti2 p{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 1.6rem;
    margin-top: 2%;
}
.div5{
    font-size: 6rem;
    color: #0e0d0d;
    position: absolute;
    margin-left: 67%;
    margin-top: -10%;
   
}
.div5:hover{
    color: hsl(321, 81%, 71%);
}


.comprar{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -8%;
    margin-left: 78%;

    position: absolute;
  }
  
  .comprar:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .comprar:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
